* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

header {
    padding-block: 25px;
    margin-block: 10px;
    font-size:xx-large;
    text-align: center;
    border-bottom: 2px solid black;
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

h1.round-counter {
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 10px;
}

.play-area-container {
    border: 2px dotted black;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

h1.instructions {
    font-size: x-large;
    margin-bottom: 10px;
    width: 100%;
}

h1.result {
    margin-bottom: 10px;
    opacity: 0;
}

.computer-play-img-container {
    display: table-cell;
    border: 3px solid darkgray;
    border-radius: 4px;
    padding: 15px;
    margin: 20px;
    min-height: 1rem;
    min-width: 1rem;
    text-align: center;
}

.user-play-choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button.user-input {
    font-size: xx-large;
    border: 3px solid darkgray;
    border-radius: 4px;
    padding: 25px;
    height: fit-content;
    width: auto;
    margin: 1rem;
    cursor: pointer;
    transition: transform 0.5s ease;
}

button.user-input:hover {
    transform: scale(0.9);
    background-color: rgb(167, 167, 167);
}

i {
    vertical-align: middle;
}

.score-tracker {
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin-top: 7px;
}